@import "./fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu-Light"
}

.container {
    position: relative;
    height: 50vh;
}

.container:before {
    content: "";
    z-index: -1;
    background-image: url(../assets/images/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    transform: scale(1.5);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(13, 100%, 72%);
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 40px;
}

.menu {
    display: flex;
    list-style-type: none;
    align-items: center;
}

a {
    color: #fff;
    text-decoration: none;
}

.menu .nav__item {
    margin: 15px;
}

.container__content {
    text-align: center;
    color: #fff;
}

.container__content * {
    margin: 15px;
}